body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #283136;
	background-color: white;
}

img {
	max-width: 100%;
	height: auto;
}

.main-header {
	margin: 0 auto;
	min-height: 67px;
	padding-top: 49px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #eeeeee;
}

.main-header.inner {
	padding-bottom: 67px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px rgba(193, 49, 53, 1);
}

h1 {
	margin: 0;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
}

h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

h4 {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
}

fieldset {
	margin: 0;
	margin-bottom: 28px;
	padding: 0;
	border: 0;
}

/* =========================================================================================================================
HEADER STYLES
========================================================================================================================= */

/* LOGO */

.logo {
	float: left;
	width: 180px;
}

.logo img {
	width: 160px;
	height: 65px;
}

.logo:active {
	opacity: 0.3;
}

.logo:hover {
	opacity: 0.8;
}

/* NAV-BAR*/

.nav-bar {
	float: left;
	width: 800px;
	padding-left: 180px;
}

.nav-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.nav-bar li:not(:last-child) {
	display: inline-block;
	vertical-align: top;
	margin-right: 48px;
	margin-top: 25px;
}

.nav-bar a {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: -0.1px;
	text-decoration: none;
	color: #000000;
}

.nav-bar a:hover {
	color: #fb565a;
}

.nav-bar a:active {
	color: #000000;
	opacity: 0.3;
}

.nav-item.active {
	border-bottom: 2px solid #fb565a;
}

/* CART */

.cart {
	position: relative;
	float: right;
	width: 75px;
	margin-top: 26px;
	padding-left: 40px;
}

.cart::before {
	content: "";
	position: absolute;
	top: 24%;
	left: 1px;
	width: 15px;
	height: 15px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -5px -5px;
	opacity: 0.3;
}

/* end-header */

/*======================================================================================================================
 MAP STYLES
 ======================================================================================================================*/

.map {
	position: relative;
	min-height: 362px;
	margin: 0 auto;
	padding-top: 52px;
	background-image: url("../img/map-marker2.png");
	background-color: #e9e5dc;
}

.google-map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

/*CONTACTS*/

.contacts {
	position: relative;
	z-index: 1;
	width: 268px;
	min-height: 259px;
	padding-top: 46px;
	padding-left: 50px;
	background-color: #ffffff;
}

.contacts.inner{
	padding-top: 53px;
}

.contacts h3 {
	margin-bottom: 22px;
	color: #000000;
}

.contacts p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #666666;
}

.contacts p:nth-child(3) {
	margin-top: 19px;
	margin-bottom: 37px;
}

.contacts .btn {
	padding: 16px 44px;
}

/* end map*/

/* =====================================================================================================================
FOOTER STYLES
======================================================================================================================*/

.main-footer {
	margin: 0 auto;
	padding-top: 65px;
}

.main-footer.inner {
	padding-top: 73px;	
}

.social {
	min-height: 216px;
}

.social-icons {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-right: 60px;
}

.social-icons a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 79px;
	width: 79px;
	border-radius: 50%;
	font-size: 0;
	background-color: #e1e1e1;
}

.social-icons a:hover {
	background-color: #e74246;
}

.social-icons a:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px rgba(193, 49, 53, 1);
}

.social-icons a:nth-child(2) {
	margin-right: 7px;
	margin-left: 8px;
}

.social-vk::before {
	content:"";
	position: absolute;
	top: 41%;
	left: 34%;
	width: 26px;
	height: 15px;
	background-position: -5px -305px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.social-fb::before {
	content:"";
	position: absolute;
	top: 36%;
	left: 43%;
	width: 12px;
	height: 22px;
	background-position: -5px -127px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.social-insta::before {
	content:"";
	position: absolute;
	top: 37%;
	left: 37%;
	width: 21px;
	height: 21px;
	background-position: -5px -159px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.social-vk:active::before,
.social-fb:active::before,
.social-insta:active::before {
	opacity: 0.3;
}

.social-text {
	display: inline-block;
	vertical-align: middle;
	width: 700px;
	padding-top: 7px;
	padding-left: 37px;
}

.social-text b {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
}

.social-text p {
	margin-top: 8px;
	line-height: 22px;
	color: #444444;
}

/* end footer */

/*======================================================================================================================
MODAL-WINDOW
======================================================================================================================*/

.modal-window {
	position: absolute;
	top: -137px;
	left: 50%;
	z-index: 100;
	display: none;
	width: 760px;
	min-height: 430px;
	margin-left: -448px;
	padding: 68px 100px 86px;
	font-size: 0px;
	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

@-webkit-keyframes popup {
	0% {
		opacity: 0;
		-webkit-transform: rotate(-10deg);
				transform: rotate(-10deg);
	}
	
	70% {
		-webkit-transform: rotate(5deg);
				transform: rotate(5deg);
	}

	100% {
		opacity: 1;
	}
}

@keyframes popup {
	0% {
		opacity: 0;
		-webkit-transform: rotate(-10deg);
				transform: rotate(-10deg);
	}
	
	70% {
		-webkit-transform: rotate(5deg);
				transform: rotate(5deg);
	}

	100% {
		opacity: 1;
	}
}

.modal-window-show {
	display: block;
	-webkit-animation: popup 1s;
			animation: popup 1s;
}

.modal-window .input-error {
	border-color: #e74246;
}

.modal-window .input-error::-webkit-input-placeholder {
	color: #e74246;
}

.close {
	position: absolute;
	top: 78px;
	right: 88px;
	width: 23px;
	height: 23px;
	border: 0;
	font-size: 0;
	background-color: transparent;
	cursor: pointer;
}

.close::before,
.close::after {
	content: "";
	position: absolute;
	top: 9px;
	right: -2px;
	width: 26px;
	height: 5px;
	background-color: #fecccd;
}

.close::before {
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.close::after {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
	background-color: #fb565a;
}

.close:active::before,
.close:active::after {
	background-color: #ffeeee;
}

.modal-window form,
.modal-window legend,
.modal-window fieldset,
.modal-window label,
.modal-window p,
.modal-window input {
	margin: 0;
	padding: 0;
}

.modal-window legend {
	margin-bottom: 41px;
	font-size: 45px;
	font-weight: 400;
	line-height: 45px;
}

.modal-window fieldset {
	display: block;
	width: 760px;
	border: 0;
}

.modal-window label {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin-bottom: 11px;
	padding-right: 36px;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.modal-write-us label:nth-child(3) {
	padding-right: 0;
}

.modal-window p {
	margin-bottom: 10px;
}

.modal-window input {
	width: 343px;
	min-height: 44px;
	margin-bottom: 35px;
	padding-left: 13px;
	border: 2px solid #d7dcde;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
}

.modal-window input[type="email"] {
	margin-left: 37px;
}

/* переопределение цвета текста в placeholder */

.modal-window input::-webkit-input-placeholder,
.modal-window input::-moz-placeholder,
.modal-window input:-moz-placeholder {
	color: #444444;
	opacity: 0.5;
}

/* ================================ */

.modal-window input:hover {
	border-color: #b4b9bb;
}

.modal-window input:focus::-webkit-input-placeholder {
	opacity: 1;
}

.modal-window input:focus {
	border-color: #000000;
	outline: 0;
}

.modal-window textarea {
	display: block;
	margin-bottom: 34px;
	padding: 11px 14px;
	border: 2px solid #d7dcde;
	border-radius: 5px;
	font-size: 16px;
	resize: none;
}

/* переопределение цвета текста в placeholder */

.modal-window textarea::-webkit-input-placeholder,
.modal-window textarea::-moz-placeholder,
.modal-window textarea::-moz-placeholder {
	color: #444444;
	opacity: 0.5;
}

/* ================================ */

.modal-window textarea:hover {
	border-color: #b4b9bb;
}

.modal-window textarea:focus::-webkit-input-placeholder {
	opacity: 1;
}

.modal-window textarea:focus {
	border-color: #000000;
	outline: 0;
}

/* MODAL-WINDOW BTN */

.modal-window .btn {
	padding: 16px 82px;
	border: 0;
	outline: none;
	font-weight: 500;
}

/* INDEX.HTML */

/*======================================================================================================================
SLIDER
======================================================================================================================*/

.slider {
	margin: 0 auto;
	margin-bottom: 80px;
	background-color: #eeeeee;
}

.slider-wrapper {
	position: relative;
	width: 1160px;
	min-height: 421px;
	margin: 0 auto;
}

.slider input[type=radio] {
	position: absolute;
	opacity: 0;
}

.slider-controls {
	position: absolute;
	bottom: 98px;
	left: 50%;
	z-index: 1000;
	width: 200px;
	height: 16px;
	margin-left: -100px;
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	vertical-align: top;
	width: 5px;
	height: 5px;
	margin: -1px 6px;
	border: 7px solid white;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	background: #c1c1c1;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #eeeeee;
}

.slide-text {
	width: 420px;
	padding: 67px 0;
}

.slide-text p {
	position: relative;
	width: 410px;
	margin: 0;
	margin-top: 21px;
	margin-bottom: 40px;
	line-height: 24px;
	overflow: hidden; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical; 
}

.slide-title {
	display: block;
	width: 532px;
	min-height: 115px;
	font-size: 55px;
	font-weight: bold;
	line-height: 55px;
	color: #000000;
	overflow: hidden; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}

.slide .btn {
	padding: 16px 55px;
}

.slide:nth-child(1) {
	background-image: url("../img/slider-1.jpg");
	background-repeat: no-repeat;
	background-position: 100% -11px;
}

.slide:nth-child(2) {
	background-image: url("../img/slider-2.jpg");
	background-repeat: no-repeat;
	background-position: 100% -1px;
}

.slide:nth-child(3) {
	background-image: url("../img/slider-3.jpg");
	background-repeat: no-repeat;
	background-position: 100% -1px;
}

.slide {
	display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-2:checked ~ .slides .slide:nth-child(2),
#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

/* end slider */

/* FEATURES */

.features {
	border-bottom: 2px solid #eeeeee;
	font-size: 0px;
}

.features-item {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	min-height: 353px;
	margin-right: 40px;
	margin-bottom: 75px;
}

.features-item:nth-child(3n) {
	margin-right: 0;
}

.features figure {
	width: 300px;
	height: 146px;
	margin:0;
}

.sites figure {
	background-color: #fb565a;
}

.apps figure {
	background-color: #00ca74;
}

.presents figure {
	background-color: #efc849;
}

.features h2 {
	width:260px;
	margin-top: 25px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.features-text p {
	width: 260px;
	margin-bottom: 32px;
	font-size: 16px;
}

.features-img {
	width: 300px;
	height: 146px;
	margin: 0;
}

/* FEATURES-BTNS */

.features-item .btn {
	padding: 16px 40px;
}

.apps .btn {
	background-color: #00ca74;
}

.apps .btn:hover {
	background-color: #00bc6c;
}

.apps .btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
	box-shadow: inset 0 3px rgba(193, 49, 53, 0.1);
}

.presents .btn {
	background-color: #efc849;
}

.presents .btn:hover {
	background-color: #eab534;
}

.presents .btn:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px rgba(193, 49, 53, 0.1);
}

/* end features */

/* ABOUT */

.about {
	min-height: 486px;
	margin-bottom: 46px;
	margin-top: 39px;
	border-bottom: 2px solid #eeeeee;
	font-size: 0;
}

/* ABOUT LEFT */

.about-left {
	display: inline-block;
	vertical-align: top;
	width: 700px;
	margin-right: 99px;
	font-size: 16px;
}

.lead {
	width: 686px;
	margin-top: 34px;
	margin-bottom: 34px;
	font-size: 45px;
	line-height: 45px;
	letter-spacing: 0.3px;
	font-weight: bold;
	color: #000000;
}

.about-left .text {
	width: 622px;
}

.about-left h4 {
	margin-top: 38px;
	margin-bottom: 24px;
}

.service {
	margin: 0;
	padding: 0;
	padding-left: 37px;
}

.service li {
	position: relative;
	display: block;
	margin-bottom: 24px;
	list-style: none;
}

.service li::before {
	content: "";
	position: absolute;
	top: 12px;
	left: -5%;
	width: 25px;
	height: 2px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -5px -260px;
}

/* end about-left */

/* ABOUT RIGHT */

.about-right {
	display: inline-block;
	vertical-align: top;
	width: 361px;
}

.about-right img {
	width: 360px;
	height: 208px;
}

.about-right h4 {
	margin-top: 24px;
	margin-left: 17px;
	margin-bottom: 48px;
}

.guaranty {
	margin: 0;
	padding: 0;
	margin-left: 4px;
}

.guaranty li {
	display: inline-block;
	vertical-align: top;
	width: 117px;
	list-style: none;
}

.guaranty .text {
	margin-top: 18px;
	font-size: 16px;
	line-height: 18px;
}

.percent {
	min-height: 40px;
	font-size: 45px;
	font-weight: 700;
	line-height: 10.06px;
	color: #000000;
}

.percent b {
	vertical-align: super;
	font-size: 28px;
	font-weight: 700;
}

/* end about */

/* RECENT-WORKS */

.recent-works {
	font-size: 0;
	margin-bottom: 79px;
	padding-bottom: 35px;
	padding-top: 2px;
	border-bottom: 2px solid #eeeeee;
}

.recent-works a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	margin-right: 40px;
	text-align: center;
}

.recent-works a:nth-child(4n) {
	margin-right: 0;
}

.recent-works img {
	opacity: 0.2;
}

.recent-works img:hover {
	opacity: 1;
}

.recent-works img:active {
	opacity: 0.1;
}

.vertical-line:not(:first-child)::after {
	content: "";
	position: absolute;
	top: 10px;
	left: -19px;
	display: block;
	width: 0px;
	height: 52px;
	border: 1px solid rgba(238, 238, 238, 1);
}

.vertical-line:nth-child(3)::after {
	top: -4px;
}

/* end recent-works */

/* CATALOG.HTML */

.catalog-item {
	min-height: 164px;
	margin-bottom: 55px;
	background-color: #eeeeee;
}

.catalog-item h1 {
	margin: 0 auto;
	text-align: center;
}

/*======================================================================================================================
 LEFT SECTION STYLES
======================================================================================================================*/

.left-section {
	display: inline-block;
	vertical-align: top;
	width: 280px;
	min-height: 773px;
	font-size: 0;
}

.form-caption {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.left-section legend {
	margin-bottom: 16px;
}

.left-section label {
	font-size: 16px;
	line-height: 20px;
}

/* range-filter */

.range-filter {
	width: 260px;
	margin-top: 44px;
	margin-bottom: 108px;
}

.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 21px;
	background: #f1f1f1;
	border-radius: 5px;
	overflow: hidden;
}

.range-controls .scale {
	margin-top: 40px;
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	border-radius: 50%;
	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls input {
	width: 60px;
	margin-left: 8px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	letter-spacing: 1px;
	color: #283136;
	background: #f1f1f1;
}

.price-controls {
	position: relative;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
	color: #283136;
}

.price {
	position: absolute;	
}

.min-price {
	left: -1px;
}

.max-price {
	right: -1px;
}

/* end range-filter */

/* RADIO*/

input[type="radio"] + label {
	position: relative;
	display: block;
	margin-bottom: 19px;
	padding-left: 36px;
}

.grid input {
	display: none;
}

input[type="radio"] + label::before,
input[type="radio"]:checked + label::before {
	content:"";
	position: absolute;
	top: -3px;
	left: 1px;
	display: block;
	width: 25px;
	height: 25px;
	background-position: -5px -190px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	opacity: 0.4;
}

input[type="radio"]:checked + label::before  {
	background-position: -5px -225px;
}

.left-section label:hover {
	color: #000000;
}

input[type="radio"] + label:hover::before {
	opacity: 1;
}

input[type="radio"]:disabled + label::before {
	opacity: 0.1;
}

input[type="radio"]:disabled + label {
	color: rgba(40, 49, 54, 0.3);
}

/* end radio */

/* CHECKBOX */

input[type="checkbox"] + label {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 36px;
}

.features-form input {
	display: none;
}

input[type="checkbox"] + label::before,
input[type="checkbox"]:checked + label::before {
	content:"";
	position: absolute;
	left: 1px; 
	top: -2px;
	display: block;
	width: 23px;
	height: 23px;
	background-position: -5px -30px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	opacity: 0.4;
}

input[type="checkbox"]:checked + label::before  {
	background-position: -5px -63px;
}

input[type="checkbox"] + label:hover::before {
	opacity: 1;
}

input[type="checkbox"]:disabled + label::before {
	opacity: 0.1;
}

input[type="checkbox"]:disabled + label {
	color: rgba(40, 49, 54, 0.3);
}

/* end checkbox */

/* BUTTON */

.left-section .button {
	padding: 16px 88px; 
	border: 0;
	color: #000000;
	background-color: #eeeeee;
	outline: none;
}

.left-section .button:hover {
	background-color: #dfdfdf;
}

.left-section .button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

/* end button */

/*======================================================================================================================
 RIGHT SECTION STYLES
======================================================================================================================*/

.right-section {
	display: inline-block;
	vertical-align: top;
	width: 875px;
	margin-bottom: 24px;
	font-size: 0;
}

.right-section b {
	line-height: 18px;
}

/* SORTING */

.sorting {
	margin-bottom: 47px;
	margin-left: 111px;
	padding-top: 6px;
	padding-left: 4px;
}

.sorting b {
	display: inline-block;
	vertical-align: top;
	width: 180px;
	margin-top: -3px;
}

.sorting ul {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-left: 221px;
	padding: 0;
	list-style: none;
}

.sorting li {
	display: inline-block;
	vertical-align: top;
	margin-right: 22px;
}

.sorting li:nth-child(2) {
	margin-right: 29px;
}

.sorting a {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover {
	color: rgba(0, 0, 0, 0.6);	
}

.sort-arrows {
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
	margin-left: 27px;
}

.sort-arrows a {
	display: inline-block;
	vertical-align: top;
	width: 0;
	height: 0;
	border-color: black;
	border-style: solid;
	border-top-width: 11px;
	border-right-width: 5px;
	border-bottom-width:5px;
	border-left-width: 5px;  
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-color: rgba(0, 0, 0, 0.2);
	font-size: 0;
	background-color: #ffffff;
}

.sort-arrows a:last-child {
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
	margin-left: 18px;
	margin-top: -5px;
}

.sort-arrows a:hover {
	border-top-color: rgba(0, 0, 0, 0.4);
}

.sorting .active {
	color: rgba(0, 0, 0, 1);	
}

.sort-arrows .active {
	border-top-color: rgba(0, 0, 0, 1);
}

/* end sorting */

/* GALLERY */

.right-section article {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	margin-left: 117px;
}

.right-section article:nth-child(2n) {
	margin-right: 0;
	margin-left: 0;
}

.gallery-item {
	position: relative;
	margin-bottom: 26px;
	border-top: 40px solid #e9e9e9;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.gallery-item::after,
.gallery-item::before {
	content: "";
	position: absolute;
	display: block;
	height: 14px;
	width: 14px;
	background-color: #ffffff;
	border-radius: 50%;
}

.gallery-item::after {
	box-shadow: 45px 0 0 0 #ffffff;
}

.gallery-item::after {
	top: -28px;
	left: 15px;
}

.gallery-item::before{
	top: -28px;
	left: 38px;
}

.gallery-item .hover {
	position: absolute;
	display: none;
	bottom:10px;
	width: 360px;
	min-height: 205px;
	padding-top: 26px;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	background: #eeeeee;
}

.hover h3 {
	width: 180px;
	margin: 0 auto;
	margin-bottom: 16px;
	text-align: center;
}

.gallery-item-wrapper img {
	width: 359px;
	height: 575px;
	background-color: #eeeeee;
}

.hover .item-name {
	text-decoration: none;
	color: #000000;
}

.hover p {
	position: relative;
	width: 240px;
	max-height: 3.6em;
	margin: 0 auto;
	margin-right: 3em;
	padding-right: 1em;
	text-align: center;
	line-height: 1.2em;
	color: #666666;
	overflow: hidden;
}

/*правило на случай переполнения*/

.hover p:before {
	content: "...";
	position: absolute;
	right: 0;
	bottom: 0;
}

.hover p:after {
	content: "";
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: #eeeeee;
}

/*================================*/

.hover .btn {
	margin-left: 78px;
	margin-top: 30px;
	padding: 16px 60px;
}

.gallery-item:hover .hover {
	display: block;
}

.gallery-item:hover {
	border-top: 40px solid #4d4d4d;
}

/* end gallery */

/* PAGINATOR */

.paginator {
	width: 680px;
	margin-left: 400px;
	margin-bottom: 60px;
}

.paginator-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px; 
	border-radius: 3px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.paginator a {	
	min-width: 50px;
	min-height: 33px;
	padding-top: 17px;
	text-decoration: none;
	background-color: #eeeeee;
}

.paginator .btn {
	min-width: 259px;
}

.paginator .button:hover {
	background-color: #dfdfdf;
}

.paginator .button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.paginator .active {
	min-width: 44px;
	min-height: 30px;
	padding-top: 14px;
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
}

/* end paginator */